 /* Global Styles */
 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(223, 217, 217);
    color: #333;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
    color: rgb(230, 20, 20);
}

header .logo {
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: rgb(255, 0, 0);
    text-decoration: none;
}

/* Hero Section Styles */
#hero {
    background-color: rgb(47, 230, 87);
    color: rgb(255, 0, 0);
    text-align: center;
    padding: 100px 20px;
}

#cta-button {
    padding: 10px 20px;
    background-color: rgb(194, 219, 194);
    color: black;
    border: none;
    cursor: pointer;
}

/* Main Content Styles */
main {
    padding: 20px;
}

#about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#about img {
    width: 50%;
    height: auto;
}

#about h3 {
    margin-top: 20px;
    left: px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: rgb(76, 0, 255) ;
    text-align: center;
    padding: 10px 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    #about {
        grid-template-columns: 1fr;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }
}